__pycache__/
.vscode/
.coverage
.coverage*
cdo/__pycache__/
/config*.yml
ecmean/config*.yml
tests/table/*.txt
tests/table/*.yml
tests/figures/*.pdf
tests/data/*/*.idx
docs/sphinx/build/
ECmean4.egg-info/
ecmean/utils/history_benchmark
*.ipynb


