__pycache__/
.vscode/
.coverage
.coverage*
/config*.yml
ecmean/config*.yml
tests/table/*.txt
tests/table/*.yml
tests/figures/*.pdf
tests/data/*/*.idx
docs/sphinx/build/
ECmean4.egg-info/
ecmean/utils/history_benchmark
dist/
*.ipynb


