# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://autobencoder.com/2020-08-24-conda-actions/

name: Mamba PyTest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: provision-with-micromamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: environment.yml
        cache-downloads: true
        extra-specs: |
            python=3.9
    - name: List installed package versions (conda)
      run: micromamba list
    - name: Lint with flake8
      run: |
        micromamba install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
         micromamba install pytest
         python -m pytest
